<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <!-- Latest compiled and minified CSS -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.js'></script>
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.css'>
</head>
<body class= "container">
