<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Reddit Clone</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.css'>
  <link rel="stylesheet" href='/css/style.css'>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js'></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.12.3/semantic.js'></script>
</head>
<body class= "container">
  <div class="ui purple inverted menu">
    <a class="item">
      <img id="redditLogo" src="http://i.imgur.com/Nbs9tla.png" width="30px"><span id="appName">REDDIT CLONE</span>
    </a>
    <div class="right menu">
      <a class="ui item" href="/signup">
         Create an Account
       </a>
       <a class="item" href="/login">
        Sign in
      </a>
    </div>
  </div>
